/* Logo */
/* Adapted from Zachary Blackwood */
[data-testid="stSidebar"] {
                background-image: url(https://raw.githubusercontent.com/Diderotcm/Solid-bank/main/logos/logo_solid-bank.png);
                background-size: 250px;
                background-repeat: no-repeat;
                background-position: 4px 1px;
            }


/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v2 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 1% 1% 1% 4%;
    border-radius: 10px;
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}

/*valor do card*/
div.css-1xarl3l.e16fv1kl1 {
    font-size: 40px;
    font-weight: 700 !important;

}
/*texto card*/
div.css-184tjsw.e16nr0p34 {
    color: black !important;
    font-weight: 700 !important;
}

/*Graficos*/
div.user-select-none.svg-container {
    font-weight: 700 !important;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
label.css-ocqkz7.e1tzin5v4 {
    color: #1751CF !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


div.css-1kyxreq.etr89bj2 {
    vertical-align: center;
}

css-184tjsw e16nr0p34
/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}


/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}

